:root {
    --primary-blue : #0056D2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}


/* header and navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0px 2px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    /* position: fixed;
    min-width: 100%;
    z-index: 10; */
}

.nav-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-title {
    color: #0056D2;
    font-family: "Source Sans 3", Arial, sans-serif;
    font-style: normal;
    letter-spacing: -1px ;
    margin-top: -5px;
}
.header-icon {
    margin-right: 10px;
    color:#5B6780;   
}

/* hero section */

.hero {
    background-color: #F0F6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    /* position: relative;
    top: 4rem; */
}

.hero-img-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem auto;
}

.hero-logo-img {
    height: auto;
    width: 200px;
    padding: 3px;
    object-fit: cover;
}

.hero-title {
    font-weight: 600;
    font-size: 2rem;
    
}

.mt-15 {
    margin: 15px auto;
}

.hero-button {
  min-width: 100%;
  display: block;
}

.hero-button > button {
    min-width: 100%;
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-blue);
    color: #ffffff;
    margin: 20px auto;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.color-blue {
    color:#0056D2;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.hero-big-img {
    height: 250px;
    width: auto;
}

/* about section */

.uni-companies-img {
    height: 50px;
    width: 80px;
}

.about-img-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.about-title {
    text-align: left;
    margin: 10px;
    font-weight: 600;
}

/* about information section */

.about-info {
    max-width: 100%;
    margin: 20px auto 10px auto;
    background-color: #F0F6FF;

}

.about-info-header {
    font-weight: 600;
    padding-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem ;
    padding-bottom: 2rem;
}

.info-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: baseline;
    padding: 10px;
}

/* cta(call to action) section */
.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

}

.cta-img {
    max-width: 100% ;
    height: auto;
    margin-bottom: 20px;
}

.cta-info-text {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.cta-form {
   display: block;
   min-width: 100%;
}
.cta-button {
    padding: 10px;
    min-width: 100%;
    background-color: #fff ;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 20px;
}


